@{
    ViewData["Title"] = "About Us";
}

<div class="container my-5">
    <h1 class="mb-4">About Us</h1>

    <div class="row">
        <div class="col-md-6">
            <h2>Our Story</h2>
            <p>
                Welcome to AKM, where passion for books meets a love for readers. Founded in 2020, we have grown from a small bookstore to an online haven for book lovers. Our mission is to provide readers with a vast selection of books, from bestsellers to hidden gems, across a variety of genres.
            </p>
        </div>

        <div class="col-md-6">
            <img src="~/assets/img/book.jpg" class="img-fluid" alt="Bookstore Image" />
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-6">
            <img src="~/assets/img/book.jpg" class="img-fluid" alt="Our Team Image" />
        </div>
        <div class="col-md-6">
            <h2>Our Team</h2>
            <p>
                Behind every great bookstore is a team of dedicated individuals who love books just as much as you do. Our team is committed to curating a collection that appeals to every reader, from fiction enthusiasts to academic scholars.
            </p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <h2>Why Choose Us?</h2>
            <ul>
                <li>Wide range of books across all genres</li>
                <li>Easy-to-use online store with secure payment options</li>
                <li>Fast shipping and reliable customer support</li>
                <li>Regular updates with new releases and discounts</li>
            </ul>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <h2>Contact Us</h2>
            <p>If you have any questions or need help, feel free to <a href="/Home/ContactUs">Contact us</a>.</p>
        </div>
    </div>
</div>

<style>
    .col-12 p a {
        text-decoration:none;
        color:blue;
        font-size:27px;

    }
</style>