@{
    ViewData["Title"] = "Contact Us";
}

<div class="container my-5">
    <h1 class="mb-4">Contact Us</h1>

    <p>
        We're here to help! You can reach out to us through any of the following methods:
    </p>

    <ul class="list-unstyled">
        <li><strong>Phone:</strong> +1 123-456-7890</li>
        <li><strong>Email:</strong> support@bookstore.com</li>
        <li><strong>Fax:</strong> +1 987-654-3210</li>
        <li><strong>Complaints :</strong> +1 111-222-3333</li>
    </ul>

    <p>
        Feel free to contact us during our business hours, and we will get back to you as soon as possible.
    </p>
</div>